<div class="container">
  <h1 class="title">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="example@email.com"
        [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }"
      />
      <div
        *ngIf="submitted && formControls.username.errors"
        class="error-message"
      >
        <div *ngIf="formControls.username.errors.required">
          Username is required.
        </div>
        <div *ngIf="formControls.username.errors.email">
          Must be a valid email
        </div>
      </div>
      <div
        *ngIf="submitted && !formControls.username.errors && formError"
        class="error-message"
      >
        <div>Failed to login</div>
      </div>
    </div>
    <div class="mt-1">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        placeholder="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }"
      />
      <div
        *ngIf="submitted && formControls.password.errors"
        class="error-message"
      >
        <div *ngIf="formControls.password.errors.required">
          Password is required.
        </div>
        <div *ngIf="formControls.password.errors.minlength">
          Password must be at least 8 characters long.
        </div>
      </div>
    </div>

    <button [disabled]="loading" class="mt-1" type="submit">Login</button>
  </form>

  <!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->
</div>
