.login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: white;
}

.login-form label {
  font-weight: bold;
  margin-right: 1rem;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px;
  // margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.login-form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.login-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin: 0.5rem 0;
  font-size: 1rem;
  text-align: right;
}

.mt-1 {
  margin-top: 1rem;
}

.login-form input.is-invalid {
  border-color: red;
}